@using KrzyWro.CAH.Shared.Cards
@inject AppState state

<div class="card text-body bg-white @border" style="margin: 0.5rem auto">
    <div class="card-body">
        <p class="card-text">
            @Answer.Text
            @if (ShowAnswerNumber && SelectionNumber > 0)
            {
                <span class="badge badge-pill badge-primary float-right">@SelectionNumber</span>
            }
        </p>
    </div>
</div>

@code {
    [Parameter] public AnswerModel Answer { get; set; }
    [Parameter] public bool ShowAnswerNumber { get; set; } = true;
    private int SelectionNumber { get; set; }

    private string border => SelectionNumber > 0 ? "border-primary" : string.Empty;

    protected override void OnInitialized()
    {
        if (ShowAnswerNumber)
        {
            state.OnAnswerSelectionChange += UpdateSelectionNumber;
            UpdateSelectionNumber();
        }
    }

    private void UpdateSelectionNumber()
    {
        SelectionNumber = state.GetAnswerSelectionNumber(Answer);
    }
}