@inject AppState state

<div class="card" style="width: 100%; margin: 0.5rem 0;">
    <div class="card-header">Odpowiedzi graczy</div>
    <div class="card-body">
        <div class="row justify-content-center">
            @foreach (var list in state.PlayerAnswers)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">

                    <div class="card bg-secondary" style="width: 100%; margin: 0.5rem;">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                @foreach (var card in list)
                                {
                                    <div class="col-12">
                                        <AnswerCard @key="@card.Id" Answer="@card" ShowAnswerNumber="false"></AnswerCard>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<WaitingSpinner Text="Oczekiwanie na wybór najlepszej odpowiedzi przez Mistrza Gry"></WaitingSpinner>

