@using KrzyWro.CAH.Shared.Cards

<div class="card text-white bg-dark" style="width: 18rem; margin: 0.5rem auto">
  <div class="card-body">
    <p class="card-text">@Question.Text</p>
    <p href="#" class="card-link text-white text-right"><CardStackIcon></CardStackIcon> @Question.AnswerCards</p>
  </div>
</div>

@code {
    [Parameter] public QuestionModel Question { get; set; }
}