<div class="card" style="width: 100%; margin: 0.5rem 0;">
    <div class="card-header">@Text</div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Text { get; set; }
}
