@page "/"
@implements IDisposable
@inject AppState state
@inject NavigationManager NavigationManager

<div class="row justify-content-center sticky-top">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <h1>Lista Gier</h1>
        <ul class="list-group">
            @foreach (var game in state.GameList)
            {
                <li class="list-group-item" @onclick="() => SelectGame(game.GameId)">@game.GameId</li>
            }
        </ul>
    </div>
</div>

@code {
    protected void SelectGame(Guid game)
    {
        NavigationManager.NavigateTo($"table/{game}");
    }

    protected override void OnInitialized() => state.Events.OnGameEntryArrival += StateHasChanged;

    public void Dispose() => state.Events.OnGameEntryArrival -= StateHasChanged;
}